# Ignore everything by default
*

# Allow source files and configuration
!/.gitignore
!/pyproject.toml
!/hatch_build.py
!/README.rst
# Allow plumed package directory
!/plumed/
!/plumed/__init__.py
!/plumed/_core.pyx
!/plumed/_cplumed.pxd
